{% extends 'home.html'%}
{%block title %}
    <title>Register</title>
{%endblock%}

{%block nav %}
<body class="bg">
    <div class="nav-bg d-flex justify-content-end p-3">
        <a class="btn btn-sm btn-outline-danger text-decoration-none " href="/">Home</a>
        <span class="flex-grow-1"></span>
        <a class="btn btn-sm btn-outline-danger text-decoration-none " href="/login">Login</a>
    </div>
{% endblock %}

{%block content%}
    <div class="d-flex mb-4 justify-content-evenly align-items-center">
        <div class=" shadow-lg m-5 bg-light rounded col-8 col-md-5 col-lg-4 col-xl-3 col-sm-8">
            <form class="d-flex flex-column align-items-center px-2" action="" method="POST">
                {% csrf_token %}
                <div id="fields" class="w-75">
                    <h1 class="h4 my-4 justify-content-center d-flex">Register Page</h1>

                    {% for field in form %}
                    <p class="h6">{{ field.label }}:</p>
                    {% if field.name == "password" or field.name == "Confirm_password"%}
                    <div class="password-container">
                        {{ field }}
                        <span toggle="#{{field.id_for_label}}"
                            class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>
                    </div>
                    {%else%}
                    {{ field }}
                    {%endif%}
                    {% if field.errors %}
                    <div class="alert alert-danger p-0 m-0">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    <br>
                    {% endfor %}

                    <button class="btn btn-success btn-sm mt-3 mb-4" type="submit">submit</button>
                </div>

            </form>

            {% if success %}
            <div id="newId" class="flex-column align-items-center d-flex ">
                <h1 class="h4 my-4">Registration Pandra Page</h1>
                <span>
                    <i class="text-dark fa fa-check-square-o fa-5x mt-5 mb-2"></i><br>
                </span>
                <p class="mb-5"> Registration Successfull!</p>
                <a href="{% url 'login' %}" class="mb-3 text-decoration-none">please click here to login</a>

            </div>
            <script>
                var newElement = document.getElementById('newId');
                var oldElement = document.getElementById('fields');
                oldElement.replaceWith(newElement);
            </script>
            {% endif %}

            <script>
                $(".toggle-password").click(function () {
                    $(this).toggleClass("fa-eye fa-eye-slash");
                    var input = $($(this).attr("toggle"));
                    if (input.attr("type") == "password") {
                        input.attr("type", "text");
                    }
                    else {
                        input.attr("type", "password");
                    }
                });

            </script>
        </div>


        <!-- <div class="float-right"> -->
        {% load static %}
        <img src="{% static '/login-img.png' %}" class=" d-none d-lg-block  img-fluid" style="float: right;" alt="Responsive image">
        <!-- </div> -->
    </div>

    <style>
        li {
            list-style-type: none;
            font-size: 10px;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        .password-container {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            color: grey;
        }

    </style>
{%endblock %}
